.forms {
    width: 100%;
    padding: 0.3em;
    display: inline-block;
    position: relative;
}

.find-form {
    padding: 0.5em;
    float: left;
}

.regist-btn {
    display: inline-block;
    border-radius: 10%;
    font-size: 10pt;
    border: 2px solid #666666;
    color: #ffffff;
    background-color: #6666ff;
    padding: 0.3em;
    text-align: center;
    float: left;
    bottom: 0;
    margin: 0.7em
}

.delete-btn {
    display: inline-block;
    border-radius: 10%;
    font-size: 10pt;
    border: 2px solid #666666;
    color: #ffffff;
    background-color: #FF3399;
    padding: 0.3em;
    text-align: center;
    float: left;
    bottom: 0;
    margin: 0.7em
}

.submit-box {
    margin: 0.5em 0;
}

.large-input-box {
    height: 50px;
}
