<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>書籍管理</title>
        <link th:href="@{/public/style.css}" type="text/css" rel="stylesheet" />
        <link th:href="@{/public/home.css}" type="text/css" rel="stylesheet" />
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>書籍管理</h1>
        <div><a href="/author/" class="btn-author">著者一覧</a></div>
        <div><a href="/book/" class="btn-book">書籍一覧</a></div>
    </body>
</html>
