<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>著者一覧</title>
        <link th:href="@{/public/style.css}" type="text/css" rel="stylesheet" />
        <link th:href="@{/public/author/author.css}" type="text/css" rel="stylesheet" />
        <script th:src="@{/public/author/author.js}" type="text/javascript"></script>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>著者一覧</h1>

        <div class="forms">
            <div class="find-form">
                <p>名前で検索</p>
                <form action="/author/" method="GET">
                    <input type="text" name="name"/>
                    <input type="submit" value="検索"/>
                </form>
            </div>
            <a href="/author/regist" class="regist-btn">ユーザー登録</a>
            <a href="#" class="delete-btn" onclick="deleteAuthor()">著者削除</a>
        </div>

        <div th:if="${not #lists.isEmpty(errors)}" class="alert">
            <ul>
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>
        </div>
        <div th:if="${info}" class="info">
            <p th:text="${info}"></p>
        </div>

        <table>
            <tr>
                <th>削除対象</th>
                <th>名前</th>
                <th>プロフィール</th>
            </tr>
            <form id="delete-form" action="/author/delete" method="POST">
                <tr th:inline="text" th:each="author : ${authors}">
                    <td><input th:if="${#sets.contains(deletableAuthorSet, author.id)}" type="checkbox" name="author_id_list[]" th:value="${author.id}"></td>
                    <td><a th:href="@{/author/{id}/update(id=${author.id})}">[[${author.name}]]</a></td>
                    <td>[[${author.profile}]]</td>
                </tr>
                <input type="hidden" id="author_id_list" name="author_id_list">
            </form>
        </table>

        <footer>
            <a href="/">トップページ</a>
        </footer>
    </body>
</html>
